<div class="pie">
<i class="fas fa-copyright"></i>2020 Centro de Capacitacion Tecnica |
<i class="fa fa-map-marker" aria-hidden="true"></i>Mcal. Sucre y La paz |
<i class="fa fa-phone" aria-hidden="true"></i>+595 021 643 411
</div>