.navbar{
    /*height: 150px;*/
}
.container{
    width: 800px;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.bg-light{
    background-color: var(--gray)!important;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(44, 240, 60);
    border: 0;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(44, 240, 60);
}
.form-group{
    margin-bottom: 4px;

}
.alert{
    font-size: 30px;
    color: white;
    background-color: black;
}
.pie {
    text-align: center;
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    padding-top: 15px;
}
.pie-texto {
    padding-left: 10px;
    padding-right: 20px;
}